body {
    background-image:url(../images/Fizra.png);
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

html {
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.default-text-color {
    color: #000000;
}

.page-unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link-select {
    transition: color 0.3s ease-in-out;
}

.link-select:hover {
    color: #32554f;
    cursor: pointer;
}

.page-summary {
    transition: color 0.3s ease-in-out;
}

.page-summary, summary::marker {
    list-style: none;
}

.page-summary:hover {
    color: #32554f;
    cursor: pointer;
}

.outer-box {
    display: block;

    height: auto;
    background-color: #ffffffb2;

    transition: background-color 0.3s ease-in-out;
    
    border: 1px solid black;
    border-radius: 10px;

    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
    width: auto;
    max-width: 1000px;
    
    box-shadow: 0px 0px 15px black;
}

.outer-box li {
    text-align: left;
    font-size: large;
}

.default-text {
    text-align: left;

    font-size: large;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.default-text a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px gray;
    font-weight: bold;
}

.img-box {
    display: inline-block;

    border: 1px solid black;
    border-radius: 5px;

    background-color: #beffff;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

.img-box img {
    width: 100%;
    height: 100%;
}

.table-box {
    display: block;

    max-width: 600px;
    height: auto;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    border: 2px solid black;

    background-color: #beffff;

    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    border: 2px solid black;
    padding: 10px;
}

td {
    border: 2px solid black;
    padding: 5px;
}

.code-block {
    display: block;

    border: 1px solid black;
    border-radius: 10px;

    background-color: #beffff;

    padding: 10px;

    margin-top: 10px;
    margin-bottom: 10px;

    max-width: 300px;
}