*{
    margin: 0;
    padding: 0;
    font-family: Arial;

    --color-backgroud: rgb(42, 39, 39);
    --color-code-block: rgb(85, 70, 70);
    --color-code-text: rgb(224, 219, 219);
    --color-text: rgb(227, 194, 194);
    --color-text-shadow: black;
    --color-content-block: rgb(65, 55, 55);
    --color-border: black;
    --color-hover-border: rgb(203, 157, 157);
    --color-block-shadow: black;
    --color-block-hover-shadow: rgba(210, 210, 210, 0.5);
    --color-table-border: rgba(203, 157, 157, 0.5);
    --color-image-background: rgb(215, 170, 170);
}

html{
    height: 100%;
    background: var(--color-backgroud);
}

.main{
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content-block{
    display: grid;
    max-width: 1200px;
    background: var(--color-content-block);
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    border: 2px solid var(--color-border);
    border-radius: 5px;
    box-shadow: 0px 0px 5px var(--color-block-shadow);
    transition: box-shadow 0.4s ease, border 0.4s ease;
}

.content-block:hover{
    box-shadow: 0px 0px 5px var(--color-block-hover-shadow);
    border: 2px solid var(--color-hover-border);
}

.content-block h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 10px var(--color-text-shadow);
    color: var(--color-text);
}

.content-block h2{
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 10px 10px 10px var(--color-text-shadow);
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--color-text);
}

.content-block table{
    text-shadow: 0px 0px 10px var(--color-text-shadow);
    text-decoration: none;
    color: var(--color-text);
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-block th{
    text-align: center;
    border: 3px solid var(--color-table-border);
    padding: 10px;
}

.content-block td{
    text-align: justify;
    border: 3px solid var(--color-table-border);
    padding: 10px;
}

.content-block ul{
    font-size: 24px;
    color: var(--color-text);
    text-decoration: none;
    list-style-type: square;
    text-shadow: 0px 0px 10px var(--color-text-shadow);
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.content-block p{
    font-size: 24px;
    color: var(--color-text);
    text-decoration: none;
    text-shadow: 0px 0px 10px var(--color-text-shadow);
    margin-top: 5px;
    margin-bottom: 5px;
}

.content-block p a{
    font-size: 30px;
    text-decoration: none;
    color: var(--color-text);
    transition: text-shadow 0.4s ease;
}

.content-block p a:hover{
    text-shadow: 7px 7px 5px var(--color-text-shadow);
}

.content-block pre{
    height: auto;
    max-width: 400px;
    background: var(--color-code-block);
    color: var(--color-code-text);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--color-border);
    box-shadow: none;
    transition: box-shadow 0.4s ease, border 0.4s ease;
}

.content-block pre:hover{
    border: 1px solid var(--color-hover-border);
    box-shadow: 0px 0px 10px var(--color-block-hover-shadow);
}

.image-block{
    display: block;
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 90%);
    border: 2px solid var(--color-border);
    padding: 20px;
    border-radius: 5px;
    transition: background-color 300ms, border 0.4s ease;
}

.image-block img{
    max-width: 100%;
    
}

.image-block:hover{
    border: 2px solid var(--color-hover-border);
    box-shadow: 0px 0px 10px var(--color-block-hover-shadow);
}

.dd-list summary{
    list-style-type: none;
    cursor: pointer;
}

.dd-list h1{
    transition: text-shadow 0.4 ease;
}

.dd-list h1:hover{
    text-shadow: 1px 1px 5px var(--color-text-shadow);
}